*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

  /* --- FONT FAMILY --- */
  --font-family: 'Manrope', sans-serif;

  /* --- FONT WEIGHTS --- */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;


  /* --- COLOR PALETTE --- */

  /* Neutrals */
  --white: hsl(0, 100%, 100%);

  /* Grigi */
  --grey-200: hsl(210, 46%, 95%);
  --grey-400: hsl(212, 23%, 69%);
  --grey-500: hsl(214, 17%, 51%);
  --grey-900: hsl(217, 19%, 35%);

}


